.gameboard {
  width: 640px;
  height: 640px;
  font-size: 0px;
  border: solid 2px black;
}

.square {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 76px;
}

.square.white {
  background: white;
}

.square.black {
  background: black;
}

/*.square[data-piece="red"]::after {*/
.square.test {
  font-size: 76px;
  content: ' ';
  background-image: url("svgs/red_king.svg");
  background-size: 76px 76px;
  display: block;
  width: 76px;
  height: 76px;
}