.gameboard {
  width: 640px;
  height: 640px;
  font-size: 0px;
  border: solid 2px #585858;
}

.square {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 76px;
}

.square.white {
  background: white;
}

.square.black {
  background: black;
}

.square::after {
  background-size: 76px 76px;
  display: block;
  width: 76px;
  height: 76px;
  font-size: 76px;
  content: ' ';
  background-position: center;
  margin: auto;
}

.square[data-piece="black"]::after {
  background-image: url("svgs/black_man_solid.svg");
}

.square[data-piece="blackKing"]::after {
  background-image: url("svgs/black_king_solid.svg");
}

.square[data-piece="red"]::after {
  background-image: url("svgs/red_man_solid.svg");
}

.square[data-piece="redKing"]::after {
  background-image: url("svgs/red_king_solid.svg");
}

.square[data-piece="black"][data-frame="true"]::after {
  background-image: url("svgs/black_man_frame.svg");
}

.square[data-piece="blackKing"][data-frame="true"]::after {
  background-image: url("svgs/black_king_frame.svg");
}

.square[data-piece="red"][data-frame="true"]::after {
  background-image: url("svgs/red_man_frame.svg");
}

.square[data-piece="redKing"][data-frame="true"]::after {
  background-image: url("svgs/red_king_frame.svg");
}
